<!DOCTYPE html>
<html lang="en">

<head>
    <title>WR board | Dual motors | 3link-NKP | Monocoque Chassis | 5692 800kv 6000w in 8s x2 | Lipo 8s 10000mah 50c by
        moestooge - esk8builds</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/esk8builds/static/css/bootstrap/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/esk8builds/static/css/general.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/esk8builds/static/css/bootstrap/js/bootstrap.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE" />






    <meta property="og:image" content="/esk8builds/static/uploads/500/ztd2n3n9hezr8bf.jpg" />
    <meta name="og:title"
        content="WR board | Dual motors | 3link-NKP | Monocoque Chassis | 5692 800kv 6000w in 8s x2 | Lipo 8s 10000mah 50c by moestooge - esk8builds">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="/esk8builds/static/uploads/500/ztd2n3n9hezr8bf.jpg" />
    <meta name="twitter:site" content="@esk8builds">
    <meta name="twitter:title"
        content="WR board | Dual motors | 3link-NKP | Monocoque Chassis | 5692 800kv 6000w in 8s x2 | Lipo 8s 10000mah 50c by moestooge - esk8builds">
    <meta name="twitter:description" content=".">






</head>

<body>





    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>






    <nav class="navbar navbar-inverse">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color:#fff" href="/esk8builds/">esk8<span
                        style="color:rgb(204, 255, 153)">builds</span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
                <ul class="nav navbar-nav">



                    <li><a href="/esk8builds/">New</a></li>




                    <li><a href="/esk8builds/popular.html">Popular</a></li>




                    <li><a href="/esk8builds/shops.html">Shops</a></li>




                </ul>




            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <div class="container">



        <script>
            $(function () {




                lightbox.option({
                    'resizeDuration': 200,
                    'wrapAround': true
                });
            });
        </script>


        <link href="/esk8builds/static/js/lightbox/css/lightbox.css" rel="stylesheet">
        <script src="/esk8builds/static/js/lightbox/js/lightbox.js"></script>



        <div class="row">
            <div class="col-md-6">





                <iframe width="500" height="281" style="max-width:100%"
                    src="https://www.youtube.com/embed/Hsj9guNrlmU?rel=0&amp;showinfo=0" frameborder="0"
                    allowfullscreen></iframe>
                <br><br>



                <a href="/esk8builds/static/uploads/full/ztd2n3n9hezr8bf.jpg" data-lightbox="roadtrip"><img
                        src="/esk8builds/static/uploads/500/ztd2n3n9hezr8bf.jpg?v=1529433175"
                        style="max-width:100%"></a>
                <!--<br><br>Click to enlarge-->

                <br>


                <br>

                <div style="height: 67px;overflow-y: hidden">

                    <a href="/esk8builds/static/uploads/full/155.jpg" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/155.jpg?v=1529317590') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>



                    <a href="/esk8builds/static/uploads/full/4wlemhravkwxm5r.jpg" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/4wlemhravkwxm5r.jpg?v=1529433141') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>



                    <a href="/esk8builds/static/uploads/full/sgam1kwf5pvlext.jpg" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/sgam1kwf5pvlext.jpg?v=1529830626') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>



                    <a href="/esk8builds/static/uploads/full/cv9a65g302wjrp2.jpg" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/cv9a65g302wjrp2.jpg?v=1529830774') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>




                    <img src="/esk8builds/static/img/Transparent.gif"
                        style="background:#efefef;width:67px;height:67px;margin-right:15px;border:1px #efefef solid;">
                    <img src="/esk8builds/static/img/Transparent.gif"
                        style="background:#efefef;width:67px;height:67px;margin-right:15px;border:1px #efefef solid;">


                </div>






                <br class="visible-xs">


            </div>





            <div class="col-md-6">








                <h1 style="font-size:22px">WR board | Dual motors | 3link-NKP | Monocoque Chassis | 5692 800kv 6000w in
                    8s x2 | Lipo 8s 10000mah 50c by moestooge</h1>




                <p>Build by moestooge at 18/06/2018 - 1813 views


                </p>






                <table class="table">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Part</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Bearings</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">10mm</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Bushings</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">Krank</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Wheels</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">Street Wheels</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Trucks</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">3link-NKP</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Deck</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">Monocoque Chassis</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> Controller</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">Fkysky</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> ESC</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">Mamba xlx</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> Motor (Satellite)</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">5692 800kv 6000w in 8s x2</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-plug"></i> Batteries</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">Lipo 8s 10000mah 50c</a>
                            </td>
                        </tr>
                    </tbody>
                </table>








                <table class="table">
                    <thead>
                        <tr>
                            <th>Performance stats</th>
                            <th colspan="2">
                                <!--Values-->
                            </th>
                        </tr>
                    </thead>
                    <tbody>




                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Wheels type</td>
                            <td colspan="2">


                                Street



                            </td>
                        </tr>


                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-location-arrow" aria-hidden="true"></i> Top speed</td>
                            <td>121 kmh</td>
                            <td>75 mph</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-battery-half" aria-hidden="true"></i> Range</td>
                            <td>n/a</td>
                            <td>n/a</td>
                        </tr>


                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Board weight</td>
                            <td>13 kg</td>
                            <td>29 lbs</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-male" aria-hidden="true"></i> Rider weight</td>
                            <td>88 kg</td>
                            <td>195 lbs</td>
                        </tr>

                    </tbody>
                </table>







            </div>





        </div>
        <br style="clear:both">




    </div>







</body>

</html>