<!DOCTYPE html>
<html lang="en">

<head>
    <title>Slave One Mk I | Dual motors | Trampa 15ply urban carver flex | Maytech 6374 150kv sensored 3.55kW | Battery
        Flex 12S4P Sony VTC5 by hansow - esk8builds</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/esk8builds/static/css/bootstrap/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/esk8builds/static/css/general.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/esk8builds/static/css/bootstrap/js/bootstrap.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE" />






    <meta property="og:image" content="/esk8builds/static/uploads/500/125.jpg" />
    <meta name="og:title"
        content="Slave One Mk I | Dual motors | Trampa 15ply urban carver flex | Maytech 6374 150kv sensored 3.55kW | Battery Flex 12S4P Sony VTC5 by hansow - esk8builds">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="/esk8builds/static/uploads/500/125.jpg" />
    <meta name="twitter:site" content="@esk8builds">
    <meta name="twitter:title"
        content="Slave One Mk I | Dual motors | Trampa 15ply urban carver flex | Maytech 6374 150kv sensored 3.55kW | Battery Flex 12S4P Sony VTC5 by hansow - esk8builds">
    <meta name="twitter:description" content=".">






</head>

<body>





    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>






    <nav class="navbar navbar-inverse">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color:#fff" href="/esk8builds/">esk8<span
                        style="color:rgb(204, 255, 153)">builds</span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
                <ul class="nav navbar-nav">



                    <li><a href="/esk8builds/">New</a></li>




                    <li><a href="/esk8builds/popular.html">Popular</a></li>




                    <li><a href="/esk8builds/shops.html">Shops</a></li>




                </ul>




            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <div class="container">



        <script>
            $(function () {




                lightbox.option({
                    'resizeDuration': 200,
                    'wrapAround': true
                });
            });
        </script>


        <link href="/esk8builds/static/js/lightbox/css/lightbox.css" rel="stylesheet">
        <script src="/esk8builds/static/js/lightbox/js/lightbox.js"></script>



        <div class="row">
            <div class="col-md-6">








                <a href="/esk8builds/static/uploads/full/125.jpg" data-lightbox="roadtrip"><img
                        src="/esk8builds/static/uploads/500/125.jpg?v=1514478686" style="max-width:100%"></a>
                <!--<br><br>Click to enlarge-->

                <br>


                <br>

                <div style="height: 67px;overflow-y: hidden">

                    <a href="/esk8builds/static/uploads/full/t14h8lh08tv47rn.jpg" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/t14h8lh08tv47rn.jpg?v=1514479909') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>



                    <a href="/esk8builds/static/uploads/full/jtm0rl1tdb37zwk.jpg" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/jtm0rl1tdb37zwk.jpg?v=1514479913') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>



                    <a href="/esk8builds/static/uploads/full/tlmja1v0h4annmi.jpg" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/tlmja1v0h4annmi.jpg?v=1514479990') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>



                    <a href="/esk8builds/static/uploads/full/nmcdm9mnie4r25d.jpg" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/nmcdm9mnie4r25d.jpg?v=1514480837') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>




                    <img src="/esk8builds/static/img/Transparent.gif"
                        style="background:#efefef;width:67px;height:67px;margin-right:15px;border:1px #efefef solid;">
                    <img src="/esk8builds/static/img/Transparent.gif"
                        style="background:#efefef;width:67px;height:67px;margin-right:15px;border:1px #efefef solid;">


                </div>






                <br class="visible-xs">


            </div>





            <div class="col-md-6">








                <h1 style="font-size:22px">Slave One Mk I | Dual motors | Trampa 15ply urban carver flex | Maytech 6374
                    150kv sensored 3.55kW | Battery Flex 12S4P Sony VTC5 by hansow</h1>




                <p>Build by hansow at 28/12/2017 - 1269 views

                    - Price:
                    2000 € / $ 2342
                </p>






                <table class="table">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Part</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Wheel Pulley</td>
                            <td>
                                <a href="https://www.unikboards.com/fr/boutique/smart-series-flywheels-pulley-kit-32t-15mm/"
                                    target="_blank" rel="noindex,nofollow">SMART SERIES – FLYWHEELS PULLEY KIT 32T –
                                    15MM</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Motor Pulley</td>
                            <td>
                                <a href="http://www.trampaboards.com/motor-pulley-with-grub-screw--key-p-13931.html"
                                    target="_blank" rel="noindex,nofollow">14T motor pulley</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Enclosure</td>
                            <td>
                                <a href="http://www.trampaboards.com/underboard-trampa-deck-material-battery-trays-from-10cm--70cm-long-p-24164.html"
                                    target="_blank" rel="noindex,nofollow">Modified trampa tray</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Motor mount</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">Custom motor mount for Vertigo
                                    Trucks</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Wheels</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">ABEC11 Flywheels 107mm 74a</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Deck</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">Trampa 15ply urban carver flex</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> Controller</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">Gt2b with Sparkle by OKP mod</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> ESC</td>
                            <td>
                                <a href="http://www.enertionboards.com/FOCBOX-speed-controller.html" target="_blank"
                                    rel="noindex,nofollow">Dual Enertion FocBox</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> Motor (Satellite)</td>
                            <td>
                                <a href="https://www.unikboards.com/fr/boutique/moteur-skateboard-electrique-6374-150kv/"
                                    target="_blank" rel="noindex,nofollow">Maytech 6374 150kv sensored 3.55kW</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-plug"></i> Batteries</td>
                            <td>
                                <a href="https://www.unikboards.com/fr/boutique/batterie-flexi-cell-bms-ultra-slim-and-flex/"
                                    target="_blank" rel="noindex,nofollow">Battery Flex 12S4P Sony VTC5</a>
                            </td>
                        </tr>
                    </tbody>
                </table>








                <table class="table">
                    <thead>
                        <tr>
                            <th>Performance stats</th>
                            <th colspan="2">
                                <!--Values-->
                            </th>
                        </tr>
                    </thead>
                    <tbody>




                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Wheels type</td>
                            <td colspan="2">


                                Street



                            </td>
                        </tr>


                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-location-arrow" aria-hidden="true"></i> Top speed</td>
                            <td>53 kmh</td>
                            <td>33 mph</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-battery-half" aria-hidden="true"></i> Range</td>
                            <td>50 km</td>
                            <td>31 mi</td>
                        </tr>


                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Board weight</td>
                            <td>12 kg</td>
                            <td>27 lbs</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-male" aria-hidden="true"></i> Rider weight</td>
                            <td>70 kg</td>
                            <td>154 lbs</td>
                        </tr>

                    </tbody>
                </table>







            </div>





        </div>
        <br style="clear:both">




    </div>







</body>

</html>