<!DOCTYPE html>
<html lang="en">

<head>
    <title>Single motor | Caliber Trucks Cal II | Loaded Motherboard | Torqueboards 6355 190kv Sensored | Turnigy
        5000mAh 5S 30C Lipo Pack w/XT-90 (x2) by vasting27 - esk8builds</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/esk8builds/static/css/bootstrap/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/esk8builds/static/css/general.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/esk8builds/static/css/bootstrap/js/bootstrap.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE" />






    <meta property="og:image" content="/esk8builds/static/uploads/500/202.jpg" />
    <meta name="og:title"
        content="Single motor | Caliber Trucks Cal II | Loaded Motherboard | Torqueboards 6355 190kv Sensored | Turnigy 5000mAh 5S 30C Lipo Pack w/XT-90 (x2) by vasting27 - esk8builds">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="/esk8builds/static/uploads/500/202.jpg" />
    <meta name="twitter:site" content="@esk8builds">
    <meta name="twitter:title"
        content="Single motor | Caliber Trucks Cal II | Loaded Motherboard | Torqueboards 6355 190kv Sensored | Turnigy 5000mAh 5S 30C Lipo Pack w/XT-90 (x2) by vasting27 - esk8builds">
    <meta name="twitter:description" content=".">






</head>

<body>





    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>






    <nav class="navbar navbar-inverse">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color:#fff" href="/">esk8<span
                        style="color:rgb(204, 255, 153)">builds</span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
                <ul class="nav navbar-nav">



                    <li><a href="/">New</a></li>




                    <li><a href="/esk8builds/popular.html">Popular</a></li>




                    <li><a href="/esk8builds/shops.html">Shops</a></li>




                </ul>




            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <div class="container">



        <script>
            $(function () {




                lightbox.option({
                    'resizeDuration': 200,
                    'wrapAround': true
                });
            });
        </script>


        <link href="/esk8builds/static/js/lightbox/css/lightbox.css" rel="stylesheet">
        <script src="/esk8builds/static/js/lightbox/js/lightbox.js"></script>



        <div class="row">
            <div class="col-md-6">








                <a href="/esk8builds/static/uploads/full/202.jpg" data-lightbox="roadtrip"><img
                        src="/esk8builds/static/uploads/500/202.jpg?v=1559193874" style="max-width:100%"></a>
                <!--<br><br>Click to enlarge-->

                <br>


                <br>

                <div style="height: 67px;overflow-y: hidden">

                    <a href="/esk8builds/static/uploads/full/kh6y3mbgr327fqo.JPG" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/kh6y3mbgr327fqo.JPG?v=1559194517') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>




                    <img src="/esk8builds/static/img/Transparent.gif"
                        style="background:#efefef;width:67px;height:67px;margin-right:15px;border:1px #efefef solid;">
                    <img src="/esk8builds/static/img/Transparent.gif"
                        style="background:#efefef;width:67px;height:67px;margin-right:15px;border:1px #efefef solid;">
                    <img src="/esk8builds/static/img/Transparent.gif"
                        style="background:#efefef;width:67px;height:67px;margin-right:15px;border:1px #efefef solid;">
                    <img src="/esk8builds/static/img/Transparent.gif"
                        style="background:#efefef;width:67px;height:67px;margin-right:15px;border:1px #efefef solid;">
                    <img src="/esk8builds/static/img/Transparent.gif"
                        style="background:#efefef;width:67px;height:67px;margin-right:15px;border:1px #efefef solid;">


                </div>






                <br class="visible-xs">


            </div>





            <div class="col-md-6">








                <h1 style="font-size:22px">Single motor | Caliber Trucks Cal II | Loaded Motherboard | Torqueboards 6355
                    190kv Sensored | Turnigy 5000mAh 5S 30C Lipo Pack w/XT-90 (x2) by vasting27</h1>




                <p>Build by vasting27 at 30/05/2019 - 130 views

                    - Price:
                    683 € / $ 800
                </p>






                <table class="table">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Part</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Enclosure</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">Custom TPU 3d Printed</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Motor mount</td>
                            <td>
                                <a href="https://diyelectricskateboard.com/collections/electric-skateboard-motor-mounts/products/single-bolt-on-motor-mount-w-drive-wheel-kit"
                                    target="_blank" rel="noindex,nofollow">Torqueboards motor mount</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Bearings</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">Loaded Jehu</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Wheels</td>
                            <td>
                                <a href="https://www.amazon.com/Bigfoot-Cored-Classics-Longboard-Wheels/dp/B0725N4QK1/ref=sr_1_4?keywords=bigfoot+wheels&qid=1559229967&s=gateway&sr=8-4"
                                    target="_blank" rel="noindex,nofollow">Bigfoot Cored Classics Longboard Wheels
                                    97mm</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Trucks</td>
                            <td>
                                <a href="https://www.amazon.com/Caliber-Trucks-Cal-Longboard-Black/dp/B00NY3Q5Q8/ref=sr_1_3?crid=18XWYIS03EIJB&keywords=caliber+2+trucks&qid=1559230086&s=gateway&sprefix=caliber+2+tru%2Caps%2C157&sr=8-3"
                                    target="_blank" rel="noindex,nofollow">Caliber Trucks Cal II</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Deck</td>
                            <td>
                                <a href="https://loadedboards.com/products/motherboard-longboard-skateboard"
                                    target="_blank" rel="noindex,nofollow">Loaded Motherboard</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> Controller</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">ENERTION NANO-X 2.4GHZ CONTROLLER</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> ESC</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">Vesc 6</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> Motor (Satellite)</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">Torqueboards 6355 190kv Sensored</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-plug"></i> Batteries</td>
                            <td>
                                <a href="https://hobbyking.com/en_us/turnigy-5000mah-5s-30c-lipo-pack-xt-90.html"
                                    target="_blank" rel="noindex,nofollow">Turnigy 5000mAh 5S 30C Lipo Pack w/XT-90
                                    (x2)</a>
                            </td>
                        </tr>
                    </tbody>
                </table>








                <table class="table">
                    <thead>
                        <tr>
                            <th>Performance stats</th>
                            <th colspan="2">
                                <!--Values-->
                            </th>
                        </tr>
                    </thead>
                    <tbody>




                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Wheels type</td>
                            <td colspan="2">


                                Street



                            </td>
                        </tr>


                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-location-arrow" aria-hidden="true"></i> Top speed</td>
                            <td>45 kmh</td>
                            <td>28 mph</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-battery-half" aria-hidden="true"></i> Range</td>
                            <td>19 km</td>
                            <td>12 mi</td>
                        </tr>


                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Board weight</td>
                            <td>n/a</td>
                            <td>n/a</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-male" aria-hidden="true"></i> Rider weight</td>
                            <td>77 kg</td>
                            <td>170 lbs</td>
                        </tr>

                    </tbody>
                </table>







            </div>





        </div>
        <br style="clear:both">




    </div>







</body>

</html>