<!DOCTYPE html>
<html lang="en">

<head>
    <title>RE/PT’ile | Dual motors | Red Ember Boards Caldera | Paris v2 195mm trucks BLACK / BLACK | x2 Jlabs / Polar
        190kv Sealed Motor | 10S3P Samsung 30Q Battery Pack by mmaner - esk8builds</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/esk8builds/static/css/bootstrap/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/esk8builds/static/css/general.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/esk8builds/static/css/bootstrap/js/bootstrap.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE" />






    <meta property="og:image" content="/esk8builds/static/uploads/500/24.jpg" />
    <meta name="og:title"
        content="RE/PT’ile | Dual motors | Red Ember Boards Caldera | Paris v2 195mm trucks BLACK / BLACK | x2 Jlabs / Polar 190kv Sealed Motor | 10S3P Samsung 30Q Battery Pack by mmaner - esk8builds">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="/esk8builds/static/uploads/500/24.jpg" />
    <meta name="twitter:site" content="@esk8builds">
    <meta name="twitter:title"
        content="RE/PT’ile | Dual motors | Red Ember Boards Caldera | Paris v2 195mm trucks BLACK / BLACK | x2 Jlabs / Polar 190kv Sealed Motor | 10S3P Samsung 30Q Battery Pack by mmaner - esk8builds">
    <meta name="twitter:description" content=".">






</head>

<body>





    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>






    <nav class="navbar navbar-inverse">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color:#fff" href="/">esk8<span
                        style="color:rgb(204, 255, 153)">builds</span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
                <ul class="nav navbar-nav">



                    <li><a href="/">New</a></li>




                    <li><a href="/esk8builds/popular.html">Popular</a></li>




                    <li><a href="/esk8builds/shops.html">Shops</a></li>




                </ul>




            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <div class="container">



        <script>
            $(function () {




                lightbox.option({
                    'resizeDuration': 200,
                    'wrapAround': true
                });
            });
        </script>


        <link href="/esk8builds/static/js/lightbox/css/lightbox.css" rel="stylesheet">
        <script src="/esk8builds/static/js/lightbox/js/lightbox.js"></script>



        <div class="row">
            <div class="col-md-6">





                <iframe width="500" height="281" style="max-width:100%"
                    src="https://www.youtube.com/embed/f8VTCYknBUA?rel=0&amp;showinfo=0" frameborder="0"
                    allowfullscreen></iframe>
                <br><br>



                <a href="/esk8builds/static/uploads/full/24.jpg" data-lightbox="roadtrip"><img
                        src="/esk8builds/static/uploads/500/24.jpg?v=1506948887" style="max-width:100%"></a>
                <!--<br><br>Click to enlarge-->

                <br>


                <br>

                <div style="height: 67px;overflow-y: hidden">

                    <a href="/esk8builds/static/uploads/full/gqae9isijnt4ips.jpg" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/gqae9isijnt4ips.jpg?v=1506949347') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>



                    <a href="/esk8builds/static/uploads/full/8q9yj3ph6r2wvu7.jpg" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/8q9yj3ph6r2wvu7.jpg?v=1506949351') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>




                    <img src="/esk8builds/static/img/Transparent.gif"
                        style="background:#efefef;width:67px;height:67px;margin-right:15px;border:1px #efefef solid;">
                    <img src="/esk8builds/static/img/Transparent.gif"
                        style="background:#efefef;width:67px;height:67px;margin-right:15px;border:1px #efefef solid;">
                    <img src="/esk8builds/static/img/Transparent.gif"
                        style="background:#efefef;width:67px;height:67px;margin-right:15px;border:1px #efefef solid;">
                    <img src="/esk8builds/static/img/Transparent.gif"
                        style="background:#efefef;width:67px;height:67px;margin-right:15px;border:1px #efefef solid;">


                </div>






                <br class="visible-xs">


            </div>





            <div class="col-md-6">








                <h1 style="font-size:22px">RE/PT’ile | Dual motors | Red Ember Boards Caldera | Paris v2 195mm trucks
                    BLACK / BLACK | x2 Jlabs / Polar 190kv Sealed Motor | 10S3P Samsung 30Q Battery Pack by mmaner</h1>




                <p>Build by mmaner at 02/10/2017 - 549 views


                </p>






                <table class="table">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Part</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Wheels</td>
                            <td>
                                <a href="http://psychotiller.com/product/6-billet-wheel-hubs" target="_blank"
                                    rel="noindex,nofollow">Psychotiller 6x2 6 Shooters (aluminum billet hubs)</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Deck</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">Red Ember Boards Caldera</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Motor Pulley</td>
                            <td>
                                <a href="http://www.ebay.com/itm/142103992126" target="_blank" rel="noindex,nofollow">x2
                                    12mm 15t HDT5m motor pulleys</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Enclosure</td>
                            <td>
                                <a href="http://www.enertionboards.com/on-sale/space-cell-pro-enclosure/"
                                    target="_blank" rel="noindex,nofollow">Space Cell Pro enclosure</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Trucks</td>
                            <td>
                                <a href="http://www.ebay.com/itm/391688383309" target="_blank"
                                    rel="noindex,nofollow">Paris v2 195mm trucks BLACK / BLACK</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Motor mount</td>
                            <td>
                                <a href="http://psychotiller.com/product/ripba-axle-set-motor-mount" target="_blank"
                                    rel="noindex,nofollow">x2 Psychotiller RIPBA Motor Mounts</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> Motor (Satellite)</td>
                            <td>
                                <a href="https://electric-skateboard.market/product/190kv-sealed-motor/" target="_blank"
                                    rel="noindex,nofollow">x2 Jlabs / Polar 190kv Sealed Motor</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> Controller</td>
                            <td>
                                <a href="https://www.aliexpress.com/item/Electric-skateboard-refitting-parts-benchwheel-diy-remote-control-bench-technology/32731985084.html?spm=2114.13010608.0.0.8qEz7"
                                    target="_blank" rel="noindex,nofollow">Benchwheel Remote Control & Receiver</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> ESC</td>
                            <td>
                                <a href="http://diyelectricskateboard.com/diy-electric-skateboard-kits-parts/vesc-the-best-electric-skateboard-esc/"
                                    target="_blank" rel="noindex,nofollow">x2 TB VESC BLDC Speed Controller</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-plug"></i> BMS</td>
                            <td>
                                <a href="http://www.bestechpower.com/256v8spcmbmspcbforlifepo4batterypack/HCX-D223V1.html"
                                    target="_blank" rel="noindex,nofollow">BesTech BMS HCX-D223V1</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-plug"></i> Power supply</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">42v 2a Li-Ion Power Supply</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-plug"></i> Batteries</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">10S3P Samsung 30Q Battery Pack</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-plug"></i> Battery Indicator</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">LCD Indicator Battery capacity Tester
                                    voltmeter</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-plus-square"></i> Other</td>
                            <td>
                                <a href="http://www.ebay.com/itm/252521356915" target="_blank"
                                    rel="noindex,nofollow">Paris 1/4 Riser (2 pcs)</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-plus-square"></i> Other</td>
                            <td>
                                <a href="https://www.amazon.com/gp/product/B0013T1NZS/ref=oh_aui_detailpage_o01_s00?ie=UTF8&psc=1"
                                    target="_blank" rel="noindex,nofollow">Black Diamond Skateboard Grip Tape Sheet
                                    Black 48"</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-plus-square"></i> Other</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">Can Bus Connector</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-plus-square"></i> Other</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">Male to Male Servo Connector</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-plus-square"></i> Other</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">XT90-S Loop Key</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-plus-square"></i> Other</td>
                            <td>
                                <a href="http://www.vbeltsupply.com/340-5m-12-synchronous-timing-belt.html"
                                    target="_blank" rel="noindex,nofollow">x2 340-5M-12 Synchronous Timing Belt</a>
                            </td>
                        </tr>
                    </tbody>
                </table>








                <table class="table">
                    <thead>
                        <tr>
                            <th>Performance stats</th>
                            <th colspan="2">
                                <!--Values-->
                            </th>
                        </tr>
                    </thead>
                    <tbody>




                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Wheels type</td>
                            <td colspan="2">


                                All Terrain



                            </td>
                        </tr>


                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-location-arrow" aria-hidden="true"></i> Top speed</td>
                            <td>45 kmh</td>
                            <td>28 mph</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-battery-half" aria-hidden="true"></i> Range</td>
                            <td>24 km</td>
                            <td>15 mi</td>
                        </tr>


                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Board weight</td>
                            <td>10 kg</td>
                            <td>22 lbs</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-male" aria-hidden="true"></i> Rider weight</td>
                            <td>86 kg</td>
                            <td>190 lbs</td>
                        </tr>

                    </tbody>
                </table>







            </div>





        </div>
        <br style="clear:both">




    </div>







</body>

</html>