<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dual motors | Caliber II Fifty 10 in/50 deg 184mm Trucks BLACK | 6354 260kv | 4s 5000 mah by benwongx5 -
        esk8builds</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/esk8builds/static/css/bootstrap/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/esk8builds/static/css/general.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/esk8builds/static/css/bootstrap/js/bootstrap.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE" />






    <meta property="og:image" content="/esk8builds/static/uploads/500/11.jpg" />
    <meta name="og:title"
        content="Dual motors | Caliber II Fifty 10 in/50 deg 184mm Trucks BLACK | 6354 260kv | 4s 5000 mah by benwongx5 - esk8builds">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="/esk8builds/static/uploads/500/11.jpg" />
    <meta name="twitter:site" content="@esk8builds">
    <meta name="twitter:title"
        content="Dual motors | Caliber II Fifty 10 in/50 deg 184mm Trucks BLACK | 6354 260kv | 4s 5000 mah by benwongx5 - esk8builds">
    <meta name="twitter:description" content=".">






</head>

<body>





    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>






    <nav class="navbar navbar-inverse">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color:#fff" href="/">esk8<span
                        style="color:rgb(204, 255, 153)">builds</span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
                <ul class="nav navbar-nav">



                    <li><a href="/">New</a></li>




                    <li><a href="/esk8builds/popular.html">Popular</a></li>




                    <li><a href="/esk8builds/shops.html">Shops</a></li>




                </ul>




            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <div class="container">



        <script>
            $(function () {




                lightbox.option({
                    'resizeDuration': 200,
                    'wrapAround': true
                });
            });
        </script>


        <link href="/esk8builds/static/js/lightbox/css/lightbox.css" rel="stylesheet">
        <script src="/esk8builds/static/js/lightbox/js/lightbox.js"></script>



        <div class="row">
            <div class="col-md-6">








                <a href="/esk8builds/static/uploads/full/11.jpg" data-lightbox="roadtrip"><img
                        src="/esk8builds/static/uploads/500/11.jpg?v=1506643200" style="max-width:100%"></a>
                <!--<br><br>Click to enlarge-->

                <br>







                <br class="visible-xs">


            </div>





            <div class="col-md-6">








                <h1 style="font-size:22px">Dual motors | Caliber II Fifty 10 in/50 deg 184mm Trucks BLACK | 6354 260kv |
                    4s 5000 mah by benwongx5</h1>




                <p>Build by benwongx5 at 18/01/2017 - 830 views

                    - Price:
                    683 € / $ 800
                </p>






                <table class="table">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Part</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Trucks</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">Caliber II Fifty 10 in/50 deg 184mm
                                    Trucks BLACK</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Motor mount</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">*custom*</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> Controller</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">mini remote controller</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> ESC</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">VESC</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> Motor (Satellite)</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">6354 260kv</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-plug"></i> Lights</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">*custom*</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-plug"></i> Switch</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">circuit breaker</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-plug"></i> Battery Indicator</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">*custom*</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-plug"></i> Batteries</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">4s 5000 mah</a>
                            </td>
                        </tr>
                    </tbody>
                </table>








                <table class="table">
                    <thead>
                        <tr>
                            <th>Performance stats</th>
                            <th colspan="2">
                                <!--Values-->
                            </th>
                        </tr>
                    </thead>
                    <tbody>




                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Wheels type</td>
                            <td colspan="2">


                                Street



                            </td>
                        </tr>


                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-location-arrow" aria-hidden="true"></i> Top speed</td>
                            <td>45 kmh</td>
                            <td>28 mph</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-battery-half" aria-hidden="true"></i> Range</td>
                            <td>20 km</td>
                            <td>12 mi</td>
                        </tr>


                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Board weight</td>
                            <td>7 kg</td>
                            <td>15 lbs</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-male" aria-hidden="true"></i> Rider weight</td>
                            <td>65 kg</td>
                            <td>143 lbs</td>
                        </tr>

                    </tbody>
                </table>







            </div>





        </div>
        <br style="clear:both">




    </div>







</body>

</html>