<!DOCTYPE html>
<html lang="en">

<head>
    <title>Darth Vapor | Dual motors | ATB Spring Trucks Vertigo 12mm | Custom carbon | 6374 130kv sensored 3.55kW | 12S
        12Ah (532Wh with 2 x 6s Graphene) by riako - esk8builds</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/esk8builds/static/css/bootstrap/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/esk8builds/static/css/general.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/esk8builds/static/css/bootstrap/js/bootstrap.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE" />






    <meta property="og:image" content="/esk8builds/static/uploads/500/azuo1xe4x1elihh.jpg" />
    <meta name="og:title"
        content="Darth Vapor | Dual motors | ATB Spring Trucks Vertigo 12mm | Custom carbon | 6374 130kv sensored 3.55kW | 12S 12Ah (532Wh with 2 x 6s Graphene) by riako - esk8builds">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="/esk8builds/static/uploads/500/azuo1xe4x1elihh.jpg" />
    <meta name="twitter:site" content="@esk8builds">
    <meta name="twitter:title"
        content="Darth Vapor | Dual motors | ATB Spring Trucks Vertigo 12mm | Custom carbon | 6374 130kv sensored 3.55kW | 12S 12Ah (532Wh with 2 x 6s Graphene) by riako - esk8builds">
    <meta name="twitter:description" content=".">






</head>

<body>





    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>






    <nav class="navbar navbar-inverse">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color:#fff" href="/esk8builds/">esk8<span
                        style="color:rgb(204, 255, 153)">builds</span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
                <ul class="nav navbar-nav">



                    <li><a href="/esk8builds/">New</a></li>




                    <li><a href="/esk8builds/popular.html">Popular</a></li>




                    <li><a href="/esk8builds/shops.html">Shops</a></li>




                </ul>




            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <div class="container">



        <script>
            $(function () {




                lightbox.option({
                    'resizeDuration': 200,
                    'wrapAround': true
                });
            });
        </script>


        <link href="/esk8builds/static/js/lightbox/css/lightbox.css" rel="stylesheet">
        <script src="/esk8builds/static/js/lightbox/js/lightbox.js"></script>



        <div class="row">
            <div class="col-md-6">





                <iframe width="500" height="281" style="max-width:100%"
                    src="https://www.youtube.com/embed/aFn9sO8AzGU?rel=0&amp;showinfo=0" frameborder="0"
                    allowfullscreen></iframe>
                <br><br>



                <a href="/esk8builds/static/uploads/full/azuo1xe4x1elihh.jpg" data-lightbox="roadtrip"><img
                        src="/esk8builds/static/uploads/500/azuo1xe4x1elihh.jpg?v=1517843793"
                        style="max-width:100%"></a>
                <!--<br><br>Click to enlarge-->

                <br>


                <br>

                <div style="height: 67px;overflow-y: hidden">

                    <a href="/esk8builds/static/uploads/full/ib5jikxbbyhi8kd.jpg" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/ib5jikxbbyhi8kd.jpg?v=1507312277') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>



                    <a href="/esk8builds/static/uploads/full/pd77r12p79ye4ba.jpg" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/pd77r12p79ye4ba.jpg?v=1507312468') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>



                    <a href="/esk8builds/static/uploads/full/q0bhmlw6lq3c34t.jpg" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/q0bhmlw6lq3c34t.jpg?v=1507312622') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>



                    <a href="/esk8builds/static/uploads/full/l8ccxy8bxcyr7wn.jpg" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/l8ccxy8bxcyr7wn.jpg?v=1507312742') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>



                    <a href="/esk8builds/static/uploads/full/79l9upegbkotr9g.jpg" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/79l9upegbkotr9g.jpg?v=1507312818') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>



                    <a href="/esk8builds/static/uploads/full/umrvoyzwzdrmpkj.jpg" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/umrvoyzwzdrmpkj.jpg?v=1517843473') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>






                </div>






                <br class="visible-xs">


            </div>





            <div class="col-md-6">








                <h1 style="font-size:22px">Darth Vapor | Dual motors | ATB Spring Trucks Vertigo 12mm | Custom carbon |
                    6374 130kv sensored 3.55kW | 12S 12Ah (532Wh with 2 x 6s Graphene) by riako</h1>




                <p>Build by riako at 06/10/2017 - 733 views

                    - Price:
                    1800 € / $ 2108
                </p>






                <table class="table">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Part</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Wheel Pulley</td>
                            <td>
                                <a href="http://www.overion.fr/produit/transmission-pour-kit-e-mtb/" target="_blank"
                                    rel="noindex,nofollow">42T - chain iso 06B</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Motor Pulley</td>
                            <td>
                                <a href="http://www.overion.fr/produit/transmission-pour-kit-e-mtb/" target="_blank"
                                    rel="noindex,nofollow">9T - chain iso 06B</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Motor mount</td>
                            <td>
                                <a href="https://monlongboardelectrique.wordpress.com/2016/07/03/je-concois-mon-support-moteur/"
                                    target="_blank" rel="noindex,nofollow">Custom made Xmount</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Wheels</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">Hubs MBS - Tires 9"</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Wheels</td>
                            <td>
                                <a href="http://www.trampaboards.com/8-inch-superstar-wheels-c-26.html" target="_blank"
                                    rel="noindex,nofollow">Superstar 8 inches</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Trucks</td>
                            <td>
                                <a href="http://www.trampaboards.com/infinity-truck--12mm-solid-axles-with-black-infinity-baseplate--steel-kingpin-p-201.html"
                                    target="_blank" rel="noindex,nofollow">ATB Spring Trucks Vertigo 12mm</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Deck</td>
                            <td>
                                <a href="https://monlongboardelectrique.wordpress.com/2016/01/28/i-plateau-de-mountainboard-custom/"
                                    target="_blank" rel="noindex,nofollow">Custom carbon</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> Controller</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">Gt2b</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> ESC</td>
                            <td>
                                <a href="http://www.trampaboards.com/vesc-6--with-nrf-eu-customers-premium-silicon-cables-xt90-connector--35mm-gold-plated-bullet-connectors--p-13771.html"
                                    target="_blank" rel="noindex,nofollow">VESC 6 (under FOC)</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> Motor (Satellite)</td>
                            <td>
                                <a href="http://www.overion.fr/produit/moteur-brushless-overion-6374-130-kv-sensored/"
                                    target="_blank" rel="noindex,nofollow">6374 130kv sensored 3.55kW</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-plug"></i> Batteries</td>
                            <td>
                                <a href="https://hobbyking.com/en_us/graphene-5000mah-6s-65c-w-xt90.html?___store=en_us"
                                    target="_blank" rel="noindex,nofollow">12S 12Ah (532Wh with 2 x 6s Graphene)</a>
                            </td>
                        </tr>
                    </tbody>
                </table>








                <table class="table">
                    <thead>
                        <tr>
                            <th>Performance stats</th>
                            <th colspan="2">
                                <!--Values-->
                            </th>
                        </tr>
                    </thead>
                    <tbody>




                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Wheels type</td>
                            <td colspan="2">


                                All Terrain



                            </td>
                        </tr>


                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-location-arrow" aria-hidden="true"></i> Top speed</td>
                            <td>50 kmh</td>
                            <td>31 mph</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-battery-half" aria-hidden="true"></i> Range</td>
                            <td>25 km</td>
                            <td>16 mi</td>
                        </tr>


                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Board weight</td>
                            <td>14 kg</td>
                            <td>30 lbs</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-male" aria-hidden="true"></i> Rider weight</td>
                            <td>78 kg</td>
                            <td>172 lbs</td>
                        </tr>

                    </tbody>
                </table>







            </div>





        </div>
        <br style="clear:both">




    </div>







</body>

</html>