<!DOCTYPE html>
<html lang="en">

<head>
    <title>DoSimpleCarbon Board v1 | Single motor | Blank trucks, 180mm, 76mm wheels | Carbon tubes: 16mmODx12mmID + 3D
        printed parts | ebay generic 5065 motor, sensorless | ZOP Power 3S LiPo 60C x2 by danile - esk8builds</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/esk8builds/static/css/bootstrap/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/esk8builds/static/css/general.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/esk8builds/static/css/bootstrap/js/bootstrap.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE" />






    <meta property="og:image" content="/esk8builds/static/uploads/500/66.jpg" />
    <meta name="og:title"
        content="DoSimpleCarbon Board v1 | Single motor | Blank trucks, 180mm, 76mm wheels | Carbon tubes: 16mmODx12mmID + 3D printed parts | ebay generic 5065 motor, sensorless | ZOP Power 3S LiPo 60C x2 by danile - esk8builds">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="/esk8builds/static/uploads/500/66.jpg" />
    <meta name="twitter:site" content="@esk8builds">
    <meta name="twitter:title"
        content="DoSimpleCarbon Board v1 | Single motor | Blank trucks, 180mm, 76mm wheels | Carbon tubes: 16mmODx12mmID + 3D printed parts | ebay generic 5065 motor, sensorless | ZOP Power 3S LiPo 60C x2 by danile - esk8builds">
    <meta name="twitter:description" content=".">






</head>

<body>





    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>






    <nav class="navbar navbar-inverse">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color:#fff" href="/esk8builds/">esk8<span
                        style="color:rgb(204, 255, 153)">builds</span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
                <ul class="nav navbar-nav">



                    <li><a href="/esk8builds/">New</a></li>




                    <li><a href="/esk8builds/popular.html">Popular</a></li>




                    <li><a href="/esk8builds/shops.html">Shops</a></li>




                </ul>




            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <div class="container">



        <script>
            $(function () {




                lightbox.option({
                    'resizeDuration': 200,
                    'wrapAround': true
                });
            });
        </script>


        <link href="/esk8builds/static/js/lightbox/css/lightbox.css" rel="stylesheet">
        <script src="/esk8builds/static/js/lightbox/js/lightbox.js"></script>



        <div class="row">
            <div class="col-md-6">





                <iframe width="500" height="281" style="max-width:100%"
                    src="https://www.youtube.com/embed/Fatt9i2fWD0?rel=0&amp;showinfo=0" frameborder="0"
                    allowfullscreen></iframe>
                <br><br>



                <a href="/esk8builds/static/uploads/full/66.jpg" data-lightbox="roadtrip"><img
                        src="/esk8builds/static/uploads/500/66.jpg?v=1508628432" style="max-width:100%"></a>
                <!--<br><br>Click to enlarge-->

                <br>


                <br>

                <div style="height: 67px;overflow-y: hidden">

                    <a href="/esk8builds/static/uploads/full/sm9osgw6eq6a7ha.jpg" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/sm9osgw6eq6a7ha.jpg?v=1508629818') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>



                    <a href="/esk8builds/static/uploads/full/joow1lt7p9l3mkk.jpg" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/joow1lt7p9l3mkk.jpg?v=1508629819') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>



                    <a href="/esk8builds/static/uploads/full/ew11lq4657nfmfa.jpg" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/ew11lq4657nfmfa.jpg?v=1508629887') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>




                    <img src="/esk8builds/static/img/Transparent.gif"
                        style="background:#efefef;width:67px;height:67px;margin-right:15px;border:1px #efefef solid;">
                    <img src="/esk8builds/static/img/Transparent.gif"
                        style="background:#efefef;width:67px;height:67px;margin-right:15px;border:1px #efefef solid;">
                    <img src="/esk8builds/static/img/Transparent.gif"
                        style="background:#efefef;width:67px;height:67px;margin-right:15px;border:1px #efefef solid;">


                </div>






                <br class="visible-xs">


            </div>





            <div class="col-md-6">








                <h1 style="font-size:22px">DoSimpleCarbon Board v1 | Single motor | Blank trucks, 180mm, 76mm wheels |
                    Carbon tubes: 16mmODx12mmID + 3D printed parts | ebay generic 5065 motor, sensorless | ZOP Power 3S
                    LiPo 60C x2 by danile</h1>




                <p>Build by danile at 21/10/2017 - 763 views

                    - Price:
                    299 € / $ 350
                </p>






                <table class="table">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Part</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Wheel Pulley</td>
                            <td>
                                <a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_id=114&ipn=icep&toolid=20004&campid=5338054845&mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FDIY-Electric-Skateboard-ABEC-Flywheel-Pulley-Kit-15mm-Wide-Belts%2F401346364035%3FssPageName%3DSTRK%253AMEBIDX%2"
                                    target="_blank" rel="noindex,nofollow">15/36 pulley kit, 15mm belt</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Enclosure</td>
                            <td>
                                <a href="https://www.thingiverse.com/thing:2599353" target="_blank"
                                    rel="noindex,nofollow">3D Printed</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Motor mount</td>
                            <td>
                                <a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_id=114&ipn=icep&toolid=20004&campid=5338054845&mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FBracket-Holder-Tool-DIY-Electric-Skateboard-Kit-Part-Mount-For-Motor-5065-OS916-%2F263203611535%3Fhash%3Ditem3d4"
                                    target="_blank" rel="noindex,nofollow">ebay mount for 50xx motors</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Trucks</td>
                            <td>
                                <a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_id=114&ipn=icep&toolid=20004&campid=5338054845&mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FBlank-180mm-Reverse-Kingpin-Longboard-Trucks-Blank-76mm-Pro-Color-Wheels-%2F131120861516%3Fvar%3D%26hash%3Ditem1"
                                    target="_blank" rel="noindex,nofollow">Blank trucks, 180mm, 76mm wheels</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Deck</td>
                            <td>
                                <a href="https://www.thingiverse.com/thing:2599353" target="_blank"
                                    rel="noindex,nofollow">Carbon tubes: 16mmODx12mmID + 3D printed parts</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> Controller</td>
                            <td>
                                <a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_id=114&ipn=icep&toolid=20004&campid=5338054845&mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2F2-4GHz-Radio-Binding-Plug-Remote-Controller-Receiver-For-Electric-Skateboard-%2F192223853151%3Fhash%3Ditem2cc16f"
                                    target="_blank" rel="noindex,nofollow">2.4 GHz Mini Remote</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> ESC</td>
                            <td>
                                <a href="https://www.banggood.com/Racerstar-120A-ESC-Brushless-Waterproof-Sensorless-18-RC-Car-Part-p-1085232.html?p=HB2313087411201210MC"
                                    target="_blank" rel="noindex,nofollow">Racerstar 120A, sensorless</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> Motor (Satellite)</td>
                            <td>
                                <a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_id=114&ipn=icep&toolid=20004&campid=5338054845&mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FN5065-320KV-1820W-Brushless-Outrunner-Motor-for-DIY-Electric-Skate-Board-In-US-%2F232476272534%3Fhash%3Ditem3620"
                                    target="_blank" rel="noindex,nofollow">ebay generic 5065 motor, sensorless</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-plug"></i> Batteries</td>
                            <td>
                                <a href="https://www.banggood.com/ZOP-Power-11_1V-4000mAh-3S-60C-Lipo-Battery-XT60-Plug-p-1104629.html?p=HB2313087411201210MC"
                                    target="_blank" rel="noindex,nofollow">ZOP Power 3S LiPo 60C x2</a>
                            </td>
                        </tr>
                    </tbody>
                </table>








                <table class="table">
                    <thead>
                        <tr>
                            <th>Performance stats</th>
                            <th colspan="2">
                                <!--Values-->
                            </th>
                        </tr>
                    </thead>
                    <tbody>




                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Wheels type</td>
                            <td colspan="2">


                                Street



                            </td>
                        </tr>


                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-location-arrow" aria-hidden="true"></i> Top speed</td>
                            <td>n/a</td>
                            <td>n/a</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-battery-half" aria-hidden="true"></i> Range</td>
                            <td>n/a</td>
                            <td>n/a</td>
                        </tr>


                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Board weight</td>
                            <td>5 kg</td>
                            <td>10 lbs</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-male" aria-hidden="true"></i> Rider weight</td>
                            <td>86 kg</td>
                            <td>190 lbs</td>
                        </tr>

                    </tbody>
                </table>







            </div>





        </div>
        <br style="clear:both">




    </div>







</body>

</html>