<!DOCTYPE html>
<html lang="en">

<head>
    <title>MBS FSDUAL6 PRO100 | Dual motors | MBS Pro 100 - Tom Kirkman | MBS Matrix II Pro | Overion 6374-130Kv 3550W
        Sensored | Turnigy Graphene Professional 12000mAh 6S 15C x2 by dchkg - esk8builds</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/esk8builds/static/css/bootstrap/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/esk8builds/static/css/general.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/esk8builds/static/css/bootstrap/js/bootstrap.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE" />






    <meta property="og:image" content="/esk8builds/static/uploads/500/176.jpg" />
    <meta name="og:title"
        content="MBS FSDUAL6 PRO100 | Dual motors | MBS Pro 100 - Tom Kirkman | MBS Matrix II Pro | Overion 6374-130Kv 3550W Sensored | Turnigy Graphene Professional 12000mAh 6S 15C x2 by dchkg - esk8builds">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="/esk8builds/static/uploads/500/176.jpg" />
    <meta name="twitter:site" content="@esk8builds">
    <meta name="twitter:title"
        content="MBS FSDUAL6 PRO100 | Dual motors | MBS Pro 100 - Tom Kirkman | MBS Matrix II Pro | Overion 6374-130Kv 3550W Sensored | Turnigy Graphene Professional 12000mAh 6S 15C x2 by dchkg - esk8builds">
    <meta name="twitter:description" content=".">






</head>

<body>





    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>






    <nav class="navbar navbar-inverse">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color:#fff" href="/">esk8<span
                        style="color:rgb(204, 255, 153)">builds</span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
                <ul class="nav navbar-nav">



                    <li><a href="/">New</a></li>




                    <li><a href="/esk8builds/popular.html">Popular</a></li>




                    <li><a href="/esk8builds/shops.html">Shops</a></li>




                </ul>




            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <div class="container">



        <script>
            $(function () {




                lightbox.option({
                    'resizeDuration': 200,
                    'wrapAround': true
                });
            });
        </script>


        <link href="/esk8builds/static/js/lightbox/css/lightbox.css" rel="stylesheet">
        <script src="/esk8builds/static/js/lightbox/js/lightbox.js"></script>



        <div class="row">
            <div class="col-md-6">








                <a href="/esk8builds/static/uploads/full/176.jpg" data-lightbox="roadtrip"><img
                        src="/esk8builds/static/uploads/500/176.jpg?v=1544378043" style="max-width:100%"></a>
                <!--<br><br>Click to enlarge-->

                <br>


                <br>

                <div style="height: 67px;overflow-y: hidden">

                    <a href="/esk8builds/static/uploads/full/evdvi8i2brxjiyi.JPG" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/evdvi8i2brxjiyi.JPG?v=1544379032') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>



                    <a href="/esk8builds/static/uploads/full/x59s4ra9qaemffl.JPG" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/x59s4ra9qaemffl.JPG?v=1544379075') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>



                    <a href="/esk8builds/static/uploads/full/c5kvucf7tdbb7vd.JPG" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/c5kvucf7tdbb7vd.JPG?v=1544379084') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>



                    <a href="/esk8builds/static/uploads/full/54g237sjijb8v8r.JPG" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/54g237sjijb8v8r.JPG?v=1544379099') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>



                    <a href="/esk8builds/static/uploads/full/mpb74x3s3tst2ob.JPG" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/mpb74x3s3tst2ob.JPG?v=1544379115') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>



                    <a href="/esk8builds/static/uploads/full/farlnq9bex49eoi.JPG" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/farlnq9bex49eoi.JPG?v=1544379127') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>






                </div>






                <br class="visible-xs">


            </div>





            <div class="col-md-6">








                <h1 style="font-size:22px">MBS FSDUAL6 PRO100 | Dual motors | MBS Pro 100 - Tom Kirkman | MBS Matrix II
                    Pro | Overion 6374-130Kv 3550W Sensored | Turnigy Graphene Professional 12000mAh 6S 15C x2 by dchkg
                </h1>




                <p>Build by dchkg at 09/12/2018 - 428 views


                </p>






                <table class="table">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Part</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Wheel Pulley</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">E-TOXX ISO-06B 40T</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Motor mount</td>
                            <td>
                                <a href="https://www.overion.fr/produit/kits-de-transmission-pour-motorisation-electrique/#reviews"
                                    target="_blank" rel="noindex,nofollow">Kit Overion Motor mount + transmission</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Deck</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">MBS Pro 100 - Tom Kirkman</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Trucks</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">MBS Matrix II Pro</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Wheels</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">MBS Rockstar II Hub</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Enclosure</td>
                            <td>
                                <a href="https://fr.farnell.com/hammond/1590xxcb/box-blue-39x121x145mm/dp/2763979?krypto=hwXhIvUeNc309uWgHgAwEJ%2FBYPIpqSbHLUBJ7c1PpWn%2BKFL46AID7FpeYx3PANmFn6mIdy6VELD6PUEP65fkcUy1C8PHmzKZHBYF%2BEhbHBqajfXaNuiQ83C%2FlGcchtAdUQ2F4OU4Q4gP6KUqS12ILoBMuNEsnJgaj3Qw7oV"
                                    target="_blank" rel="noindex,nofollow">Hammond 1590XXCB</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Enclosure</td>
                            <td>
                                <a href="http://fr.farnell.com/hammond/1555v2gy/coffret-watertight-pc/dp/1877073"
                                    target="_blank" rel="noindex,nofollow">Hammond 1555V2GY</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Motor Pulley</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">ISO-06B 11T</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> Motor (Satellite)</td>
                            <td>
                                <a href="http://www.overion.fr/produit/moteur-brushless-overion-6374-130-kv-sensored/"
                                    target="_blank" rel="noindex,nofollow">Overion 6374-130Kv 3550W Sensored</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> Controller</td>
                            <td>
                                <a href="https://flipsky.net/collections/electronic-products/products/dual-fsesc6-6-based-upon-vesc6-with-aluminum-heatsink"
                                    target="_blank" rel="noindex,nofollow">Dual FSESC6.6 Based upon VESC6 with Aluminum
                                    Heatsink</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-plug"></i> Batteries</td>
                            <td>
                                <a href="https://hobbyking.com/en_us/turnigy-graphene-professional-12000mah-6s-15c-lipo-pack-w-xt90.html"
                                    target="_blank" rel="noindex,nofollow">Turnigy Graphene Professional 12000mAh 6S 15C
                                    x2</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-plus-square"></i> Other</td>
                            <td>
                                <a href="https://www.conrad.fr/p/passe-fils-hellermanntyton-hv1302-pvc-bk-m1-633-03020-de-passage-max-8-mm-pvc-noir-1-pcs-544533"
                                    target="_blank" rel="noindex,nofollow">HV1302-PVC-BK-M1 633-03020</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-plus-square"></i> Other</td>
                            <td>
                                <a href="https://www.conrad.fr/p/passe-fils-hellermanntyton-hv1207-pvc-bk-m1-633-02070-de-passage-max-6-mm-pvc-noir-1-pcs-544485"
                                    target="_blank" rel="noindex,nofollow">HV1207-PVC-BK-M1 633-02070</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-plus-square"></i> Other</td>
                            <td>
                                <a href="https://www.rs-particuliers.com/WebCatalog/Passe_fils_HellermannTyton_en_PVC__Diametre_maximum_de_cable_6_5mm_Noir-1879403.aspx"
                                    target="_blank" rel="noindex,nofollow">HV1502</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-plus-square"></i> Other</td>
                            <td>
                                <a href="https://fr.aliexpress.com/item/100mm-100mm-4mm-CPU-Heatsink-Cooling-Conductive-Silicone-Pad-Thermal-Pad-high-quality/32295341525.html?spm=a2g0s.9042311.0.0.58bd6c37Ui7kyL"
                                    target="_blank" rel="noindex,nofollow">100mm*100mm*4mm CPU Heatsink Cooling
                                    Conductive Silicone Pad Thermal Pad high quality x2</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-plus-square"></i> Other</td>
                            <td>
                                <a href="https://shop.3dservisas.eu/products/dual-focbox-case-mounting-plate-for-trampa-mbs-longboard-trucks"
                                    target="_blank" rel="noindex,nofollow">Dual FocBox Case Mounting Plate</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-plus-square"></i> Other</td>
                            <td>
                                <a href="http://www.idcomposites.fr/vente-de-plaques-carbone/" target="_blank"
                                    rel="noindex,nofollow">Custom Carbon plate 140x116mm , 3mm</a>
                            </td>
                        </tr>
                    </tbody>
                </table>








                <table class="table">
                    <thead>
                        <tr>
                            <th>Performance stats</th>
                            <th colspan="2">
                                <!--Values-->
                            </th>
                        </tr>
                    </thead>
                    <tbody>




                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Wheels type</td>
                            <td colspan="2">


                                All Terrain



                            </td>
                        </tr>


                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-location-arrow" aria-hidden="true"></i> Top speed</td>
                            <td>n/a</td>
                            <td>n/a</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-battery-half" aria-hidden="true"></i> Range</td>
                            <td>n/a</td>
                            <td>n/a</td>
                        </tr>


                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Board weight</td>
                            <td>15 kg</td>
                            <td>34 lbs</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-male" aria-hidden="true"></i> Rider weight</td>
                            <td>80 kg</td>
                            <td>176 lbs</td>
                        </tr>

                    </tbody>
                </table>







            </div>





        </div>
        <br style="clear:both">




    </div>







</body>

</html>