<!DOCTYPE html>
<html lang="en">

<head>
    <title>Never Summer | Dual motors | Caliber II 50º | Never Summer 2017 Covert Longboard Skateboard Deck w/ Grip |
        Torqueboards 6355 190kv Sensored | 10s4p Samsung 25R Battery Pack by seanhacker - esk8builds</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/esk8builds/static/css/bootstrap/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/esk8builds/static/css/general.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/esk8builds/static/css/bootstrap/js/bootstrap.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE" />






    <meta property="og:image" content="/esk8builds/static/uploads/500/j8zr6y8e15554oj.jpg" />
    <meta name="og:title"
        content="Never Summer | Dual motors | Caliber II 50º | Never Summer 2017 Covert Longboard Skateboard Deck w/ Grip | Torqueboards 6355 190kv Sensored | 10s4p Samsung 25R Battery Pack by seanhacker - esk8builds">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="/esk8builds/static/uploads/500/j8zr6y8e15554oj.jpg" />
    <meta name="twitter:site" content="@esk8builds">
    <meta name="twitter:title"
        content="Never Summer | Dual motors | Caliber II 50º | Never Summer 2017 Covert Longboard Skateboard Deck w/ Grip | Torqueboards 6355 190kv Sensored | 10s4p Samsung 25R Battery Pack by seanhacker - esk8builds">
    <meta name="twitter:description" content=".">






</head>

<body>





    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>






    <nav class="navbar navbar-inverse">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color:#fff" href="/esk8builds/">esk8<span
                        style="color:rgb(204, 255, 153)">builds</span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
                <ul class="nav navbar-nav">



                    <li><a href="/esk8builds/">New</a></li>




                    <li><a href="/esk8builds/popular.html">Popular</a></li>




                    <li><a href="/esk8builds/shops.html">Shops</a></li>




                </ul>




            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <div class="container">



        <script>
            $(function () {




                lightbox.option({
                    'resizeDuration': 200,
                    'wrapAround': true
                });
            });
        </script>


        <link href="/esk8builds/static/js/lightbox/css/lightbox.css" rel="stylesheet">
        <script src="/esk8builds/static/js/lightbox/js/lightbox.js"></script>



        <div class="row">
            <div class="col-md-6">








                <a href="/esk8builds/static/uploads/full/j8zr6y8e15554oj.jpg" data-lightbox="roadtrip"><img
                        src="/esk8builds/static/uploads/500/j8zr6y8e15554oj.jpg?v=1510775274"
                        style="max-width:100%"></a>
                <!--<br><br>Click to enlarge-->

                <br>


                <br>

                <div style="height: 67px;overflow-y: hidden">

                    <a href="/esk8builds/static/uploads/full/77.jpg" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/77.jpg?v=1510755037') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>



                    <a href="/esk8builds/static/uploads/full/hcj93wgiwayrpxe.jpg" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/hcj93wgiwayrpxe.jpg?v=1510759585') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>



                    <a href="/esk8builds/static/uploads/full/4bmgs1v085njk00.jpg" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/4bmgs1v085njk00.jpg?v=1510760485') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>



                    <a href="/esk8builds/static/uploads/full/0wm1pvkrrr2b7yb.jpg" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/0wm1pvkrrr2b7yb.jpg?v=1510760486') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>



                    <a href="/esk8builds/static/uploads/full/td2t05yin25dwhz.jpg" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/td2t05yin25dwhz.jpg?v=1510771088') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>



                    <a href="/esk8builds/static/uploads/full/qgtad0ejby49764.jpg" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/qgtad0ejby49764.jpg?v=1510775275') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>






                </div>






                <br class="visible-xs">


            </div>





            <div class="col-md-6">








                <h1 style="font-size:22px">Never Summer | Dual motors | Caliber II 50º | Never Summer 2017 Covert
                    Longboard Skateboard Deck w/ Grip | Torqueboards 6355 190kv Sensored | 10s4p Samsung 25R Battery
                    Pack by seanhacker</h1>




                <p>Build by seanhacker at 15/11/2017 - 776 views


                </p>






                <table class="table">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Part</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Wheel Pulley</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">40T</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Belt</td>
                            <td>
                                <a href="https://diyelectricskateboard.com/collections/pulley-timing-belts/products/280mm-htd5-12mm-4x-belt-bundle"
                                    target="_blank" rel="noindex,nofollow">HTD5 12mm 280mm</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Motor Pulley</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">16T</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Enclosure</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">Master Cho Carbon Fiber</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Motor mount</td>
                            <td>
                                <a href="http://www.electric-skateboard.builders/t/eu-us-22-carbon-motor-mounts-anodized-aluminum-clamp/20795"
                                    target="_blank" rel="noindex,nofollow">Carbon Motor mounts anodized aluminum
                                    clamp</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Wheels</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">MBS All-Terrain Longboard Wheels -
                                    100x65mm</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Trucks</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">Caliber II 50º</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Deck</td>
                            <td>
                                <a href="https://www.muirskate.com/longboard/decks/72370/never-summer-2017-covert-longboard-skateboard-deck-w-grip"
                                    target="_blank" rel="noindex,nofollow">Never Summer 2017 Covert Longboard Skateboard
                                    Deck w/ Grip</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> Controller</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">Flysky GT2B MasterCho mod</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> ESC</td>
                            <td>
                                <a href="http://www.enertionboards.com/FOCBOX-speed-controller.html" target="_blank"
                                    rel="noindex,nofollow">Enertion FocBox</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> Motor (Satellite)</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">Torqueboards 6355 190kv Sensored</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-plug"></i> Batteries</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">10s4p Samsung 25R Battery Pack</a>
                            </td>
                        </tr>
                    </tbody>
                </table>








                <table class="table">
                    <thead>
                        <tr>
                            <th>Performance stats</th>
                            <th colspan="2">
                                <!--Values-->
                            </th>
                        </tr>
                    </thead>
                    <tbody>




                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Wheels type</td>
                            <td colspan="2">


                                All Terrain



                            </td>
                        </tr>


                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-location-arrow" aria-hidden="true"></i> Top speed</td>
                            <td>50 kmh</td>
                            <td>31 mph</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-battery-half" aria-hidden="true"></i> Range</td>
                            <td>32 km</td>
                            <td>20 mi</td>
                        </tr>


                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Board weight</td>
                            <td>9 kg</td>
                            <td>19 lbs</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-male" aria-hidden="true"></i> Rider weight</td>
                            <td>75 kg</td>
                            <td>165 lbs</td>
                        </tr>

                    </tbody>
                </table>







            </div>





        </div>
        <br style="clear:both">




    </div>







</body>

</html>