<!DOCTYPE html>
<html lang="en">

<head>
    <title>little Franky | Single motor | Caliber II 44° trucks | BC Barracuda | 6374 190kv | 10s2p by michichopf -
        esk8builds</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/esk8builds/static/css/bootstrap/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/esk8builds/static/css/general.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/esk8builds/static/css/bootstrap/js/bootstrap.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE" />






    <meta property="og:image" content="/esk8builds/static/uploads/500/94.jpg" />
    <meta name="og:title"
        content="little Franky | Single motor | Caliber II 44° trucks | BC Barracuda | 6374 190kv | 10s2p by michichopf - esk8builds">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="/esk8builds/static/uploads/500/94.jpg" />
    <meta name="twitter:site" content="@esk8builds">
    <meta name="twitter:title"
        content="little Franky | Single motor | Caliber II 44° trucks | BC Barracuda | 6374 190kv | 10s2p by michichopf - esk8builds">
    <meta name="twitter:description" content=".">






</head>

<body>





    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>






    <nav class="navbar navbar-inverse">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color:#fff" href="/esk8builds/">esk8<span
                        style="color:rgb(204, 255, 153)">builds</span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
                <ul class="nav navbar-nav">



                    <li><a href="/esk8builds/">New</a></li>




                    <li><a href="/esk8builds/popular.html">Popular</a></li>




                    <li><a href="/esk8builds/shops.html">Shops</a></li>




                </ul>




            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <div class="container">



        <script>
            $(function () {




                lightbox.option({
                    'resizeDuration': 200,
                    'wrapAround': true
                });
            });
        </script>


        <link href="/esk8builds/static/js/lightbox/css/lightbox.css" rel="stylesheet">
        <script src="/esk8builds/static/js/lightbox/js/lightbox.js"></script>



        <div class="row">
            <div class="col-md-6">








                <a href="/esk8builds/static/uploads/full/94.jpg" data-lightbox="roadtrip"><img
                        src="/esk8builds/static/uploads/500/94.jpg?v=1512459923" style="max-width:100%"></a>
                <!--<br><br>Click to enlarge-->

                <br>







                <br class="visible-xs">


            </div>





            <div class="col-md-6">








                <h1 style="font-size:22px">little Franky | Single motor | Caliber II 44° trucks | BC Barracuda | 6374
                    190kv | 10s2p by michichopf</h1>




                <p>Build by michichopf at 05/12/2017 - 775 views

                    - Price:
                    427 € / $ 500
                </p>






                <table class="table">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Part</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Wheel Pulley</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">36T</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Belt</td>
                            <td>
                                <a href="https://www.vbeltguys.com/products/265-5m-15-d-n-d-power-drive-oem-equivalent-timing-belt"
                                    target="_blank" rel="noindex,nofollow">265-5M-15 Timing Belt</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Motor Pulley</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">15T</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Enclosure</td>
                            <td>
                                <a href="https://eskating.eu/product/abs-enclosure-38x165x320mm/?affiliates=2"
                                    target="_blank" rel="noindex,nofollow">Eskating enclosure 10s2p</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Wheels</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">83mm Black Flywheels clones</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Trucks</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">Caliber II 44° trucks</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Deck</td>
                            <td>
                                <a href="https://www.sickboards.nl/es/all-deck-only-s/2792-bc-barracuda-deck-only.html"
                                    target="_blank" rel="noindex,nofollow">BC Barracuda</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> Controller</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">Nano Remote v2</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> ESC</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">VESC</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> Motor (Satellite)</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">6374 190kv</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-plug"></i> Batteries</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">10s2p</a>
                            </td>
                        </tr>
                    </tbody>
                </table>








                <table class="table">
                    <thead>
                        <tr>
                            <th>Performance stats</th>
                            <th colspan="2">
                                <!--Values-->
                            </th>
                        </tr>
                    </thead>
                    <tbody>




                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Wheels type</td>
                            <td colspan="2">


                                Street



                            </td>
                        </tr>


                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-location-arrow" aria-hidden="true"></i> Top speed</td>
                            <td>43 kmh</td>
                            <td>27 mph</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-battery-half" aria-hidden="true"></i> Range</td>
                            <td>16 km</td>
                            <td>10 mi</td>
                        </tr>


                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Board weight</td>
                            <td>5 kg</td>
                            <td>11 lbs</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-male" aria-hidden="true"></i> Rider weight</td>
                            <td>85 kg</td>
                            <td>187 lbs</td>
                        </tr>

                    </tbody>
                </table>







            </div>





        </div>
        <br style="clear:both">




    </div>







</body>

</html>