<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dual motors | Trampa VERTIGO Street Carve TRUCKS flex | Ultimate Street Carver Holypro 15 ply | Kaly.nyc 6374
        190Kv x2 | 12S4P Samsung 25R Battery Pack by kalynyc - esk8builds</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/esk8builds/static/css/bootstrap/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/esk8builds/static/css/general.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/esk8builds/static/css/bootstrap/js/bootstrap.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE" />






    <meta property="og:image" content="/esk8builds/static/uploads/500/1zqlose3fvkj59z.JPG" />
    <meta name="og:title"
        content="Dual motors | Trampa VERTIGO Street Carve TRUCKS flex | Ultimate Street Carver Holypro 15 ply | Kaly.nyc 6374 190Kv x2 | 12S4P Samsung 25R Battery Pack by kalynyc - esk8builds">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="/esk8builds/static/uploads/500/1zqlose3fvkj59z.JPG" />
    <meta name="twitter:site" content="@esk8builds">
    <meta name="twitter:title"
        content="Dual motors | Trampa VERTIGO Street Carve TRUCKS flex | Ultimate Street Carver Holypro 15 ply | Kaly.nyc 6374 190Kv x2 | 12S4P Samsung 25R Battery Pack by kalynyc - esk8builds">
    <meta name="twitter:description" content=".">






</head>

<body>





    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>






    <nav class="navbar navbar-inverse">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color:#fff" href="/">esk8<span
                        style="color:rgb(204, 255, 153)">builds</span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
                <ul class="nav navbar-nav">



                    <li><a href="/">New</a></li>




                    <li><a href="/esk8builds/popular.html">Popular</a></li>




                    <li><a href="/esk8builds/shops.html">Shops</a></li>




                </ul>




            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <div class="container">



        <script>
            $(function () {




                lightbox.option({
                    'resizeDuration': 200,
                    'wrapAround': true
                });
            });
        </script>


        <link href="/esk8builds/static/js/lightbox/css/lightbox.css" rel="stylesheet">
        <script src="/esk8builds/static/js/lightbox/js/lightbox.js"></script>



        <div class="row">
            <div class="col-md-6">





                <iframe width="500" height="281" style="max-width:100%"
                    src="https://www.youtube.com/embed/LVxVQJQrleU?rel=0&amp;showinfo=0" frameborder="0"
                    allowfullscreen></iframe>
                <br><br>



                <a href="/esk8builds/static/uploads/full/1zqlose3fvkj59z.JPG" data-lightbox="roadtrip"><img
                        src="/esk8builds/static/uploads/500/1zqlose3fvkj59z.JPG?v=1508002119"
                        style="max-width:100%"></a>
                <!--<br><br>Click to enlarge-->

                <br>


                <br>

                <div style="height: 67px;overflow-y: hidden">

                    <a href="/esk8builds/static/uploads/full/flpi23i162s4jmd.JPG" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/flpi23i162s4jmd.JPG?v=1508002121') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>



                    <a href="/esk8builds/static/uploads/full/2jg4fylaixgoqnr.JPG" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/2jg4fylaixgoqnr.JPG?v=1508002201') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>



                    <a href="/esk8builds/static/uploads/full/8bxiebj3nrlwp3l.JPG" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/8bxiebj3nrlwp3l.JPG?v=1508002529') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>




                    <img src="/esk8builds/static/img/Transparent.gif"
                        style="background:#efefef;width:67px;height:67px;margin-right:15px;border:1px #efefef solid;">
                    <img src="/esk8builds/static/img/Transparent.gif"
                        style="background:#efefef;width:67px;height:67px;margin-right:15px;border:1px #efefef solid;">
                    <img src="/esk8builds/static/img/Transparent.gif"
                        style="background:#efefef;width:67px;height:67px;margin-right:15px;border:1px #efefef solid;">


                </div>






                <br class="visible-xs">


            </div>





            <div class="col-md-6">








                <h1 style="font-size:22px">Dual motors | Trampa VERTIGO Street Carve TRUCKS flex | Ultimate Street
                    Carver Holypro 15 ply | Kaly.nyc 6374 190Kv x2 | 12S4P Samsung 25R Battery Pack by kalynyc</h1>




                <p>Build by kalynyc at 14/10/2017 - 3331 views

                    - Price:
                    1879 € / $ 2200
                </p>






                <table class="table">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Part</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Wheel Pulley</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">40T</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Belt</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">HTD5 15mm 320mm</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Motor Pulley</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">16T</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Enclosure</td>
                            <td>
                                <a href="https://www.kaly.nyc" target="_blank" rel="noindex,nofollow">Kaly.nyc custom
                                    flexible enclosure</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Motor mount</td>
                            <td>
                                <a href="https://www.kaly.nyc" target="_blank" rel="noindex,nofollow">Kaly.nyc custom
                                    motor mounts</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Bearings</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">Trampa bearings</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Wheels</td>
                            <td>
                                <a href="https://www.mbs.com/parts/13401-mbs-all-terrain-longboard-wheels-black-4"
                                    target="_blank" rel="noindex,nofollow">All-Terrain Longboard Wheels - 100x65mm</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Trucks</td>
                            <td>
                                <a href="http://www.trampaboards.com/mini-vertigo-street-carve-trucks--9525mm-hollow-steel-axles-p-12177.html"
                                    target="_blank" rel="noindex,nofollow">Trampa VERTIGO Street Carve TRUCKS flex</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Deck</td>
                            <td>
                                <a href="http://www.trampaboards.com/ultimate-street-carver-holypro-on-titanium-axles--stickies-longboard-wheels-p-12112.html"
                                    target="_blank" rel="noindex,nofollow">Ultimate Street Carver Holypro 15 ply</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> ESC</td>
                            <td>
                                <a href="http://www.ollinboardcompany.com/" target="_blank" rel="noindex,nofollow">Ollin
                                    VESC</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> Motor (Satellite)</td>
                            <td>
                                <a href="https://www.kaly.nyc" target="_blank" rel="noindex,nofollow">Kaly.nyc 6374
                                    190Kv x2</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-plug"></i> BMS</td>
                            <td>
                                <a href="http://www.batterysupports.com/36v-60a-12s-12x-32v-lifepo4-battery-bms-lfp-pcm-smt-pcb-system-p-251.html"
                                    target="_blank" rel="noindex,nofollow">SuPower 36V 60A 12S 12x 3.2V LiFePo4 Battery
                                    BMS LFP PCM SMT PCB System</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-plug"></i> Batteries</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">12S4P Samsung 25R Battery Pack</a>
                            </td>
                        </tr>
                    </tbody>
                </table>








                <table class="table">
                    <thead>
                        <tr>
                            <th>Performance stats</th>
                            <th colspan="2">
                                <!--Values-->
                            </th>
                        </tr>
                    </thead>
                    <tbody>




                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Wheels type</td>
                            <td colspan="2">


                                Street + All Terrain



                            </td>
                        </tr>


                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-location-arrow" aria-hidden="true"></i> Top speed</td>
                            <td>56 kmh</td>
                            <td>35 mph</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-battery-half" aria-hidden="true"></i> Range</td>
                            <td>39 km</td>
                            <td>24 mi</td>
                        </tr>


                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Board weight</td>
                            <td>12 kg</td>
                            <td>26 lbs</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-male" aria-hidden="true"></i> Rider weight</td>
                            <td>93 kg</td>
                            <td>206 lbs</td>
                        </tr>

                    </tbody>
                </table>







            </div>





        </div>
        <br style="clear:both">




    </div>







</body>

</html>