<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dual motors | 218mm Electric Longboard Trucks | 2012 Tomahawk | 6374 190kV 3150W | HG2 by thisguyhere -
        esk8builds</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/esk8builds/static/css/bootstrap/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/esk8builds/static/css/general.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/esk8builds/static/css/bootstrap/js/bootstrap.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE" />






    <meta property="og:image" content="/esk8builds/static/uploads/500/ov54za9wvmvpkg8.jpg" />
    <meta name="og:title"
        content="Dual motors | 218mm Electric Longboard Trucks | 2012 Tomahawk | 6374 190kV 3150W | HG2 by thisguyhere - esk8builds">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="/esk8builds/static/uploads/500/ov54za9wvmvpkg8.jpg" />
    <meta name="twitter:site" content="@esk8builds">
    <meta name="twitter:title"
        content="Dual motors | 218mm Electric Longboard Trucks | 2012 Tomahawk | 6374 190kV 3150W | HG2 by thisguyhere - esk8builds">
    <meta name="twitter:description" content=".">






</head>

<body>





    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>






    <nav class="navbar navbar-inverse">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color:#fff" href="/">esk8<span
                        style="color:rgb(204, 255, 153)">builds</span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
                <ul class="nav navbar-nav">



                    <li><a href="/">New</a></li>




                    <li><a href="/esk8builds/popular.html">Popular</a></li>




                    <li><a href="/esk8builds/shops.html">Shops</a></li>




                </ul>




            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <div class="container">



        <script>
            $(function () {




                lightbox.option({
                    'resizeDuration': 200,
                    'wrapAround': true
                });
            });
        </script>


        <link href="/esk8builds/static/js/lightbox/css/lightbox.css" rel="stylesheet">
        <script src="/esk8builds/static/js/lightbox/js/lightbox.js"></script>



        <div class="row">
            <div class="col-md-6">








                <a href="/esk8builds/static/uploads/full/ov54za9wvmvpkg8.jpg" data-lightbox="roadtrip"><img
                        src="/esk8builds/static/uploads/500/ov54za9wvmvpkg8.jpg?v=1507237412"
                        style="max-width:100%"></a>
                <!--<br><br>Click to enlarge-->

                <br>


                <br>

                <div style="height: 67px;overflow-y: hidden">

                    <a href="/esk8builds/static/uploads/full/ft41z95v31l4i7c.jpg" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/ft41z95v31l4i7c.jpg?v=1507317678') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>



                    <a href="/esk8builds/static/uploads/full/gtc8x6tebkk6qlv.jpg" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/gtc8x6tebkk6qlv.jpg?v=1507317679') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>



                    <a href="/esk8builds/static/uploads/full/5x1rbdjzf2qm0gx.jpg" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/5x1rbdjzf2qm0gx.jpg?v=1507317680') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>



                    <a href="/esk8builds/static/uploads/full/ktnvixpo67yde0l.jpg" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/ktnvixpo67yde0l.jpg?v=1507317680') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>



                    <a href="/esk8builds/static/uploads/full/cw7ceuq2zc8bexe.jpg" data-lightbox="roadtrip"><img
                            src="/esk8builds/static/img/Transparent.gif"
                            style="background:url('/esk8builds/static/uploads/500/cw7ceuq2zc8bexe.jpg?v=1507317680') center center;background-size:cover;width:67px;height:67px;margin-right:10px;border:1px #efefef solid;"></a>




                    <img src="/esk8builds/static/img/Transparent.gif"
                        style="background:#efefef;width:67px;height:67px;margin-right:15px;border:1px #efefef solid;">


                </div>






                <br class="visible-xs">


            </div>





            <div class="col-md-6">








                <h1 style="font-size:22px">Dual motors | 218mm Electric Longboard Trucks | 2012 Tomahawk | 6374 190kV
                    3150W | HG2 by thisguyhere</h1>




                <p>Build by thisguyhere at 05/10/2017 - 568 views


                </p>






                <table class="table">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Part</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Wheel Pulley</td>
                            <td>
                                <a href="http://@Titoxd10001" target="_blank" rel="noindex,nofollow">40T 15mm - 5mm
                                    pitch</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Motor Pulley</td>
                            <td>
                                <a href="http://@Titoxd10001" target="_blank" rel="noindex,nofollow">15T 15mm - 5mm
                                    pitch</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Enclosure</td>
                            <td>
                                <a href="http://psychotiller.com/" target="_blank" rel="noindex,nofollow">*custom*</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Motor mount</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">Carbon fiber mount</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Wheels</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">SuperFly 107</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Trucks</td>
                            <td>
                                <a href="https://diyelectricskateboard.com/collections/longboard-trucks/products/torqueboards-218mm-trucks"
                                    target="_blank" rel="noindex,nofollow">218mm Electric Longboard Trucks</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Deck</td>
                            <td>
                                <a href="http://www.longboardism.com/2012/03/landyachtz-longboards-the-new-tomahawk-release-video.html"
                                    target="_blank" rel="noindex,nofollow">2012 Tomahawk</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> ESC</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">focbox</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> Motor (Satellite)</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">6374 190kV 3150W</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-plug"></i> BMS</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">HCX-D223V1 custom</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-plug"></i> Batteries</td>
                            <td>
                                <a href="http://liionwholesale" target="_blank" rel="noindex,nofollow">HG2</a>
                            </td>
                        </tr>
                    </tbody>
                </table>








                <table class="table">
                    <thead>
                        <tr>
                            <th>Performance stats</th>
                            <th colspan="2">
                                <!--Values-->
                            </th>
                        </tr>
                    </thead>
                    <tbody>




                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Wheels type</td>
                            <td colspan="2">


                                Street



                            </td>
                        </tr>


                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-location-arrow" aria-hidden="true"></i> Top speed</td>
                            <td>56 kmh</td>
                            <td>35 mph</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-battery-half" aria-hidden="true"></i> Range</td>
                            <td>40 km</td>
                            <td>25 mi</td>
                        </tr>


                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Board weight</td>
                            <td>11 kg</td>
                            <td>25 lbs</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-male" aria-hidden="true"></i> Rider weight</td>
                            <td>68 kg</td>
                            <td>150 lbs</td>
                        </tr>

                    </tbody>
                </table>







            </div>





        </div>
        <br style="clear:both">




    </div>







</body>

</html>