<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dual motors | 50D | Geminon 38.5" | SK3 - 6374-192kv Brushless Outrunner Motor | 25c 5000mah 6s by lox897 -
        esk8builds</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/esk8builds/static/css/bootstrap/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/esk8builds/static/css/general.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/esk8builds/static/css/bootstrap/js/bootstrap.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE" />






    <meta property="og:image" content="/esk8builds/static/uploads/500/6.jpg" />
    <meta name="og:title" content="Dual motors | 50D | Geminon 38.5" | SK3 - 6374-192kv Brushless Outrunner Motor | 25c
        5000mah 6s by lox897 - esk8builds">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="/esk8builds/static/uploads/500/6.jpg" />
    <meta name="twitter:site" content="@esk8builds">
    <meta name="twitter:title" content="Dual motors | 50D | Geminon 38.5" | SK3 - 6374-192kv Brushless Outrunner Motor |
        25c 5000mah 6s by lox897 - esk8builds">
    <meta name="twitter:description" content=".">






</head>

<body>





    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>






    <nav class="navbar navbar-inverse">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color:#fff" href="/esk8builds/">esk8<span
                        style="color:rgb(204, 255, 153)">builds</span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
                <ul class="nav navbar-nav">



                    <li><a href="/esk8builds/">New</a></li>




                    <li><a href="/esk8builds/popular.html">Popular</a></li>




                    <li><a href="/esk8builds/shops.html">Shops</a></li>




                </ul>




            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <div class="container">



        <script>
            $(function () {




                lightbox.option({
                    'resizeDuration': 200,
                    'wrapAround': true
                });
            });
        </script>


        <link href="/esk8builds/static/js/lightbox/css/lightbox.css" rel="stylesheet">
        <script src="/esk8builds/static/js/lightbox/js/lightbox.js"></script>



        <div class="row">
            <div class="col-md-6">








                <a href="/esk8builds/static/uploads/full/6.jpg" data-lightbox="roadtrip"><img
                        src="/esk8builds/static/uploads/500/6.jpg?v=1506643200" style="max-width:100%"></a>
                <!--<br><br>Click to enlarge-->

                <br>







                <br class="visible-xs">


            </div>





            <div class="col-md-6">








                <h1 style="font-size:22px">Dual motors | 50D | Geminon 38.5" | SK3 - 6374-192kv Brushless Outrunner
                    Motor | 25c 5000mah 6s by lox897</h1>




                <p>Build by lox897 at 31/12/2016 - 865 views

                    - Price:
                    512 € / $ 600
                </p>






                <table class="table">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Part</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Enclosure</td>
                            <td>
                                <a href="http://psychotiller.com/product/the-flagship" target="_blank"
                                    rel="noindex,nofollow">Flagship</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Motor mount</td>
                            <td>
                                <a href="http://www.enertionboards.com/electric-skateboard-parts/carbon-fiber-motor-mount-enertion/"
                                    target="_blank" rel="noindex,nofollow">Motor Mount</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Wheels</td>
                            <td>
                                <a href="" target="_blank" rel="noindex,nofollow">Flywheels clones 83mm</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Trucks</td>
                            <td>
                                <a href="http://www.enertionboards.com/buy-build-your-own-electric-skateboard-parts/enertion-50-degree-longboard-skate-electric-trucks/"
                                    target="_blank" rel="noindex,nofollow">50D</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Deck</td>
                            <td>
                                <a href="http://www.tactics.com/globe/geminon-385-complete-longboard/fluoro-green-black"
                                    target="_blank" rel="noindex,nofollow">Geminon 38.5"</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> Controller</td>
                            <td>
                                <a href="http://diyelectricskateboard.com/diy-electric-skateboard-kits-parts/torqueboards-2-4ghz-mini-remote-controller/"
                                    target="_blank" rel="noindex,nofollow">2.4Ghz Mini Remote Controller</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> ESC</td>
                            <td>
                                <a href="http://diyelectricskateboard.com/diy-electric-skateboard-kits-parts/torqueboards-12s-120a-car-esc-opto-hv/"
                                    target="_blank" rel="noindex,nofollow">12S 120A Car ESC OPTO HV</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-bolt"></i> Motor (Satellite)</td>
                            <td>
                                <a href="https://hobbyking.com/en_us/turnigy-aerodrive-sk3-6374-192kv-brushless-outrunner-motor.html"
                                    target="_blank" rel="noindex,nofollow">SK3 - 6374-192kv Brushless Outrunner
                                    Motor</a>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-plug"></i> Batteries</td>
                            <td>
                                <a href="http://www.ebay.es/itm/Turnigy-Lipo-6S-5000mAh-20-30C-Lipo-Battery-/291990424227?hash=item43fbfc4aa3:g:hiAAAOSwiDFYObvg"
                                    target="_blank" rel="noindex,nofollow">25c 5000mah 6s</a>
                            </td>
                        </tr>
                    </tbody>
                </table>








                <table class="table">
                    <thead>
                        <tr>
                            <th>Performance stats</th>
                            <th colspan="2">
                                <!--Values-->
                            </th>
                        </tr>
                    </thead>
                    <tbody>




                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Wheels type</td>
                            <td colspan="2">


                                Street



                            </td>
                        </tr>


                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-location-arrow" aria-hidden="true"></i> Top speed</td>
                            <td>25 kmh</td>
                            <td>16 mph</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-battery-half" aria-hidden="true"></i> Range</td>
                            <td>10 km</td>
                            <td>6 mi</td>
                        </tr>


                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-cog"></i> Board weight</td>
                            <td>8 kg</td>
                            <td>18 lbs</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><i class="fa fa-male" aria-hidden="true"></i> Rider weight</td>
                            <td>45 kg</td>
                            <td>99 lbs</td>
                        </tr>

                    </tbody>
                </table>







            </div>





        </div>
        <br style="clear:both">




    </div>







</body>

</html>